.answer-letter {
    padding: 8px 16px;
    border: 2px solid grey;
    margin: 8px;
    display: inline-block;
    height: 24px;
    width: 24px;
    text-align: center;
}

.answer {
    display: flex;
}
