body {
  background-image: url("/images/bridge_walkway.jpg");
  background-size: cover;
  font-family: "Slabo 27px";
  color: white;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 30px auto;
  text-align: center;
}

.punctuation {
  display: inline-block;
}

.punctuation img {
  width: 48px;
  margin: 15px;
  margin-top: -15px;
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}

h1 {
  font-size: 30px;
}

.modal-content {
  background-color: #292525;
  border-radius: 15px;
}

.modal-footer {
  border-top: none;
}
